.search{
    color: white;
    text-align: center;
}
#searchbar{
    padding: 15px 250px;
    border-radius: 30px;
}
.search ul li{
    list-style: none;
    display: inline;
    margin: 2em;
}
#ooh{
    color: orange;
}
#but{
    padding: 10px 20px;
    background-color: orange;
    border: none;
    border-radius: 10%;
}
#but2{
    padding: 10px 40px;
    background-color: orange;
    border: none;
    border-radius: 20px;
    color: white;
    margin-left: 8%;
}
